$height: 88px;
$smallHeight: 48px;
$logoColor: #00adb5;
$minWidth: 1270px;

.search-container {
	display: flex;
	align-items: center;
	margin-left: 100px;
	color: #000;
}

.search-input {
	height: 20px;
	margin-right: 20px;
	border: 2px solid #eee;
	border-radius: 3px;
	padding: 4px;
}

.header{
	height: $height;
	width: 100%;
	line-height: $height;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.22);
	z-index: 100;
	transition: 0.5s all ease;
}

.header-container{
	display: flex;
	justify-content: space-between;
	width: $minWidth;
	padding: 0px 15px;
	margin: 0 auto;
}

.header-logo {
    float: left;
    line-height: $height;
    font-size: 20px;
    font-weight: 600; 
    text-transform: uppercase;  
    transition: 0.5s line-height ease;

    &:hover,&:focus{
    	a{
    		color: rgba(0, 0,0 , 0.9);

    		&::before,&::after{
			    width: 100%;
		    }
    	}   	
    }

    %border{
    	background: $logoColor none repeat scroll 0 0;
	    content: "";
	    height: 2px;
	    position: absolute;
	    transition: all 0.2s ease 0s;
	    width: 0px;
    }

    a {
	    border-left: 2px solid $logoColor;
	    border-right: 2px solid $logoColor;
	    color: rgba(21, 31, 44, 0.8);
	    text-decoration: none;
	    padding: 0 7px;
	    position: relative; 

		&::before{
	    	@extend %border;
		    top: 0;
		    left: 0;   
	    }

	    &::after{
	    	@extend %border;
		    bottom:0;
		    right: 0;
	    }
	}
}

.header-nav {
    display: table;
    float: right;
    position: relative;

    li{
			float: left;
			height: 0;
			display: table;
			position: relative;
			transition: 0.5s background-color height ease;

			a{
				display: block;
				position: relative;   
				padding: 0 22px;
				font-size: 15px;
				font-weight: 400;
				color: #555;
			}

			.nav-li:hover{
				background-color: $logoColor;
				height: $height;

				a{
					color: #fff;
				}
			}	
		}

	.active {
		background-color: $logoColor;
		color: #fff;
		height: $height;
		transition: 0.5s height ease;

		a{
			color: #fff;
		}
	}
}

// 鼠标下滑导航栏变小
.small-header {
	height: $smallHeight;
	line-height: $smallHeight;

	.header-logo {
		line-height: $smallHeight;
	}

	.header-nav{
		li:hover {
			height: $smallHeight;
		}

		.active {
			height: $smallHeight;
		}
	}
}

.user-name {
	margin-right: 20px;
}